  .banner {
    height: 30px;
    background-color: #222;
    clear: both;
  }
  .main {
    clear: both;
    background-color: #fff;
  }
  .main-inner {
    margin: 0 auto;
    width: 1000px;
  }
  .fourth {
    margin: 0 auto;
    width: 800px;
    padding: 50px;
  }
  .fourth h1 {
    font-size: 24px;    
    margin: 30px 0;
  }
