

/*-----banner-----*/
.banner { 
	background-color: #222;
	clear: both;
}
.banner-inner {
	width: 1000px;
	margin: 0 auto;
}
.banner-inner img {
	display: block;
	margin: 20px 50px;
	padding-bottom: 80px;
}



/*-----main-----*/
.main {
	clear: both;
}