
*{margin: 0; padding: 0;}

.clearfix:before,.clearfix:after{display: table; content:"";}
.clearfix:after{clear: both;}
.clearfix {zoom:1;}

@font-face {
    font-family: 'minecraftmedium';
    src: url('minecraft.eot');
    src: url('minecraft.eot?#iefix') format('embedded-opentype'),
         url('minecraft.woff2') format('woff2'),
         url('minecraft.woff') format('woff'),
         url('minecraft.ttf') format('truetype'),
         url('minecraft.svg#minecraftmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}*/

/*-----public-----*/
body {
	background-color: #e5e5e5;
}
h1, p {
	font-family:arial "幼圆";
}
a {
	text-decoration: none;
}


/*-----header------*/
.header-inner {
	width: 1000px; 
	margin: 0 auto;
}
.logo {
	float: left;
}
nav{
	margin-right: 90px;
}
nav li {
	float: right;
	width: 76px;
	height: 60px; 
	margin: 10px;
	list-style: none;
}
nav li a {
	display: block;
}
nav li .bai:hover {
	background: url(images/bai_bg.png) no-repeat;
}
nav li .home:hover {
	background: url(images/home_bg.png) no-repeat;
}



/*-----main-----*/
.main {
	clear: both;
}
.main-inner {
	clear: both;
}



/*-----footer-----*/
footer {
	clear: both;
}
.footer-inner {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}
.footer-inner p {
	line-height: 100px;
	font-family: 'minecraftmedium';
}
.footer-inner a {
	color: #555;
	font-family: 'minecraftmedium';
}
