@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

*, *:before, *:after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
  	padding: 0;
  	margin: 0;
  	font-family: arial, "黑体";
    text-decoration: none;
}
.clearfix:before, .clearfix:after { 
	content: " "; 
	display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a:hover {
    color:white;
    transition:color .2s ease-in-out;
}
h1 {
  font-family:'Roboto' ;
  font-weight: 300;
  color: #fff;
}

/*-----| Navigation |-----*/

.sidebar {
    width: 70%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 0;
    left: -70%;
    z-index: 3;
    transition:all .8s ease;
}
.sidebar.move {
    transform:translateX(100%);
}
.sidebar ul {
    padding: 50px 0;
    position: relative;
    display: block;
}
.sidebar ul li{
    transition: all .2s ease-in-out;
}

.sidebar ul li:hover {
    background-color: thistle;
}
.sidebar ul li:hover > ul{
    display: block;
}
.sidebar ul li a{
    display: block; 
    width: 60%;
    margin: 0 auto;
    padding: 20px 10%;
    color: #333; 
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}
.sidebar ul ul{
    display: none;
    background: #fff;
    position: absolute; 
    top: 100%;
}
.sidebar ul ul li{
    float: none; 
    position: relative;
}
.sidebar ul ul li a {
    padding: 20px 60%; 
}
.sidebar ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}   
.home-icon {
  position: fixed;
  right: 8px;
  top: 8px;
}
@media (min-width: 550px) {
  .home-icon {
    display: none;
  }
}
.home-icon img {
  height: 24px;
  width: 24px;
}
.nav-icon {
  outline: none;
  display: block;
  position: absolute;
  top: 32px;
  right: -78px;
  width: 60px;
  height: 50px;
  cursor: pointer;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nav-icon.open .burger {
  background: none;
}
.nav-icon.open .burger:before, .nav-icon.open .burger:after {
  top: 0;
}
.nav-icon.open .burger:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-icon.open .burger:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-icon:hover:not(.open) .burger:before {
  top: -9px;
}
.nav-icon:hover:not(.open) .burger:after {
  top: 9px;
}

.burger, .burger:before, .burger:after {
  width: 24px;
  height: 1px;
  background: rgba(255,255,255,.9);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger {
  position: relative;
  margin: 10px auto 0;
}
.burger:before, .burger:after {
  content: "";
  position: absolute;
}
.burger:before {
  top: -9px;
}
.burger:after {
  top: 9px;
}

nav{
    display: none;
}
@media (min-width: 550px){
    .sidebar {
        display: none;
    }
    nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 3px 10px -2px rgba(0,0,0,.2); 
        transition: all .5s ease;   
    }
}
nav ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
	background-color: thistle;
}
nav ul li:hover > ul{
	display: block;
}
nav ul li a{
    display: block; 
    padding: 30px 20px;
    color: #333; 
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul ul{
    display: none;
    background: #fff;
    position: absolute; 
    top: 100%;
}
nav ul ul li{
	float: none; 
	position: relative;
}
nav ul ul li a {
    padding: 15px 30px; 
}
nav ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}	

/*-----| Banner |-----*/

.banner {
    background-color: #eee;
}

/*-----|Footer|-----*/

footer {
  display: none;
}

@media (min-width: 550px){
  footer {
      display: block;
      width: 100%;
      background-color: #fff;
    }
  .footer-inner {
      margin:0 auto;
      line-height: 100px;
      text-align: center;
      border-top: 1px solid #ccc;
      font-weight: bold;
  }
  .footer-inner a {
      color: orangered;
  }
  .footer-inner a:hover {
      color: orange;
      transition:none;
  }
}