	.banner {
		height: 30px;
		background-color: #222;
		clear: both;
	}
	.main {
		clear: both;
		background-color: #fff;
	}
	.main-inner {
		margin: 0 auto;
		width: 1000px;
	}
	.list {
		width: 500px;
		padding: 100px;
	}
	.list h1{
		margin: 30px 0;
	}
	.main-inner a {
		color: #000;
		font-family: arial;
		font-size: 14px;		
	}
	.main-inner a:hover {
		color: #f00;
	}
	.main-inner li {
		list-style: none;
		margin-bottom: 12px;
		padding-left: 20px;
		background: url(../images/list.png) no-repeat;
	}


